:root {
  --main-border-color: rgb(109, 108, 108);
  --main-bg-color: rgb(252, 250, 250);
}

html * {
  box-sizing: border-box;
  font-family: sans-serif;
}

#root {
  height: 100%;
  width: 100%;
  position: absolute;
  font-weight: 500;
  background-color: var(--main-bg-color);
  /* background: url('./nhbg.jpg'); */
  /* background-repeat: repeat; */
}
.root_container {
  display: flex;
  height: 100%;
  flex-direction: column;
  margin: 0 auto;
  padding: 6px;
  max-width: 840px;
}

.ReactVirtualized__Grid {
  outline: none;
}

.controls_container {
  display: flex;
}

.status_bar {
  margin: 4px 0 !important;
}

.table_container {
  flex-grow: 1;
  border-radius: 3px;
  overflow: hidden;
  background-color: var(--main-bg-color);
}

/* On smartphones, move status bar to bottom so users don't accidently fat finger the reset button */
@media (hover: none) and (pointer: coarse) {
  .controls_container {
    margin-bottom: 8px;
  }
  .status_bar {
    margin: 6px 0 0 0 !important;
    order: 3;
  }
}

.header_cell,
.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-bottom: 1px solid rgb(114, 114, 114);
  border-right: 1px solid rgb(114, 114, 114);
  color: #545454;
}

.cell_padded {
  padding: 6px;
  word-break: break-word;
}
.header_cell {
  background-color: var(--main-bg-color);
  color: black;
  border-top: 1px solid var(--main-border-color);
}
.header_cell.cell_first {
  border-top-left-radius: 3px;
}
.header_cell.cell_last {
  border-top-right-radius: 3px;
}
.header_cell--sortable {
  cursor: pointer;
  font-weight: 700;
}

.fossil_cell {
  color: black;
  hyphens: auto;
}
.cell_last {
}
.cell_month_active,
.select_is_active {
  background-color: #d9ead3 !important;
}
.cell_month_active--time_active {
  background-color: #9ce482 !important;
  color: black;
}

.cell_month_expiring,
.select_is_expiring {
  background-color: #fff2cc !important;
}
.cell_month_expiring--time_active {
  background-color: #f8e19d !important;
  color: black;
}

.cell_month_inactive {
  background-color: #f4cccc;
}
.month_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.month_square {
  padding: 2px;
  width: 40px;
  height: 28px;
  border-radius: 3px;
  margin: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.month_square--active {
  background-color: rgb(194, 186, 49);
}

.month_square--current {
  border: 2px solid red;
}

.hour_labels {
  display: flex;
  flex-direction: row;
  height: 30px;
  font-size: 12px;
  align-items: flex-end;
}

.hour_label {
  position: absolute;
  text-align: left;
}

.hour_labels--12 .hour_label:nth-child(1) {
  left: 6px;
}
.hour_labels--12 .hour_label:nth-child(2) {
  left: 33px;
}
.hour_labels--12 .hour_label:nth-child(3) {
  left: 52px;
}
.hour_labels--12 .hour_label:nth-child(4) {
  left: 82px;
}

.hour_labels--24 .hour_label:nth-child(1) {
  left: 9px;
}
.hour_labels--24 .hour_label:nth-child(2) {
  left: 33px;
}
.hour_labels--24 .hour_label:nth-child(3) {
  left: 52px;
}
.hour_labels--24 .hour_label:nth-child(4) {
  left: 78px;
}

.hour_container {
  display: flex;
  position: relative;
  height: 18px;
  align-items: flex-end;
  padding-bottom: 4px;
}

.hour_container__current_time_marker {
  top: 2px;
  width: 1px;
  height: 16px;
  background-color: red;
  position: absolute;
}

.hour_container__end_marker {
  width: 1px;
  height: 100%;
  border-left: 1px solid var(--main-border-color);
}
.hour_square {
  height: 8px;
  width: 4px;
  border-left: 1px solid var(--main-border-color);
  display: flex;
}

.hour_square:nth-child(6n + 1) {
  height: 100%;
}

.hour_square:last-child {
  border-right: 1px solid black;
}

.hour_square__active {
  background-color: rgb(194, 186, 49);
  height: 8px;
  width: 100%;
  align-self: flex-end;
}

.hour_square__active--start {
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}

.hour_square__active--end {
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
}
.hour_text {
  display: flex;
  flex-direction: column;
}

.caught_checkbox {
  margin: 0 !important;
}

.toggle_caught_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

#hide_caught[aria-checked='true'] {
  background-color: rgb(51, 152, 247);
}

#hide_caught > * {
  background-color: rgb(51, 152, 247);
}

.cell_first {
  border-left: 1px solid var(--main-border-color);
}

.cell_checkbox svg {
  color: rgb(51, 152, 247);
  cursor: pointer;
  margin: 0;
}

.controls_container label {
  display: block;
  text-align: center;
}

.more_controls_modal_overlay {
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.15);
  z-index: 1;
}

.more_controls_modal {
  overflow: auto;
  position: absolute;
  width: 340px;
  left: 0;
  top: 0;
  height: 100%;
  background: white;
  z-index: 2;
  box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.5);
}

@media (max-width: 400px) {
  .more_controls_modal {
    width: 100%;
  }
}

.search {
  position: relative;
}

.search__clear_button {
  background-color: transparent;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  height: 100%;
  width: 30px;
}

.search__clear_button span {
  padding-left: 4px;
  text-align: center;
  /* line-height: 1; */
}
