html * {
  box-sizing: border-box;
}

#root {
  height: 100%;
  width: 100%;
  position: absolute;
  font-weight: 500;
}
.root_container {
  display: flex;
  height: 100%;
  flex-direction: column;
  padding-left: 12px;
}

.ReactVirtualized__Grid {
  outline: none;
}

.controls_container {
  display: flex;
  margin-top: 4px;
}

.controls_container,
.status_bar {
  max-width: 810px;
}
.table_container {
  flex-grow: 1;
}

@media (max-width: 830px) {
  .root_container {
    padding-left: 0;
  }
  .controls_container,
  .status_bar {
    margin-left: 8px !important;
    margin-right: 8px !important;
  }
}

/* On smartphones, move status bar to bottom so users don't accidently fat finger the reset button */
@media (hover: none) and (pointer: coarse) {
  .controls_container {
    margin-bottom: 8px;
  }
  .status_bar {
    order: 3;
  }
}

.header_cell,
.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-bottom: 1px solid rgb(114, 114, 114);
  border-right: 1px solid rgb(114, 114, 114);
}

.cell_padded {
  padding: 6px;
  word-break: break-word;
}
.header_cell {
  background-color: white;
  border-top: 1px solid rgb(114, 114, 114);
}

.header_cell--sortable {
  cursor: pointer;
  font-weight: 700;
}

.cell_first {
  border-left: 1px solid rgb(114, 114, 114);
}

.cell_month_active,
.select_is_active {
  background-color: #d9ead3 !important;
}
.cell_month_active--time_active {
  background-color: #9ce482 !important;
}

.cell_month_expiring,
.select_is_expiring {
  background-color: #fff2cc !important;
}
.cell_month_expiring--time_active {
  background-color: #f8e19d !important;
}

.cell_month_inactive {
  background-color: #f4cccc;
}
.month_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.month_square {
  padding: 2px;
  width: 40px;
  height: 28px;
  border-radius: 3px;
  margin: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.month_square--active {
  background-color: rgb(194, 186, 49);
}

.month_square--current {
  border: 2px solid red;
}
.hour_container {
  display: flex;
  position: relative;
  height: 30px;
  align-items: center;
}

.hour_container__current_time_marker {
  width: 1px;
  height: 100%;
  background-color: red;
  position: absolute;
}

.hour_square {
  height: 60%;
  width: 4px;
  border-left: 1px solid black;
}

.hour_square:first-child {
  border-left-color: transparent;
}

.hour_square--active {
  background-color: rgb(194, 186, 49);
}

.hour_text {
  display: flex;
  flex-direction: column;
}

.caught_checkbox {
  margin: 0 !important;
}

.toggle_caught_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

#hide_caught[aria-checked='true'] {
  background-color: rgb(51, 152, 247);
}

#hide_caught > * {
  background-color: rgb(51, 152, 247);
}

.cell_first svg {
  color: rgb(51, 152, 247);
  cursor: pointer;
}

.controls_container label {
  display: block;
  text-align: center;
}

.more_controls_modal_overlay {
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.15);
  z-index: 1;
}

.more_controls_modal {
  overflow: auto;
  position: absolute;
  width: 340px;
  left: 0;
  top: 0;
  height: 100%;
  background: white;
  z-index: 2;
  box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.5);
}

@media (max-width: 400px) {
  .more_controls_modal {
    width: 100%;
  }
}

.search {
  position: relative;
}

.search__clear_button {
  background-color: transparent;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  height: 100%;
  width: 30px;
}

.search__clear_button span {
  padding-left: 4px;
  text-align: center;
  /* line-height: 1; */
}
